.socialItems {
	display: flex;
	flex-direction: column;
	gap: 36px;
	margin: 20px 0 0 20px;
}

.group {
	display: flex;
	gap: 50px;
}

.item {
	display: flex;
	align-items: center;
	min-width: 114px;
	gap: 20px;
	cursor: pointer;
	&:hover {
		color: #2b66fa;
	}
	p {
		margin: 0;
	}
}

.form {
	margin: 36px 0 0 20px;
}
.message {
	display: flex;
	gap: 13px;
	align-items: center;
	margin-bottom: 10px;
	img {
		cursor: pointer;
	}
	p {
		margin: 0;
	}
}

.icon {
}
